<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matkakohteet</title>
  </head>
  <body>
    <h1>Matkakohteet</h1>
    <form action="/search" method="get">
      <p>
        Hakusana: {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>

    {% for destination in destinations %}
    <h2>Matkakohde:</h2>
    <a href="/destinations/{{ destination.destination_id }}"
      >{{ destination.name }}</a
    >
    <h3>Kuvaus:</h3>
    {{ destination.description }} {% if destination.user_id == session.user_id
    %}
    <p>
      <a href="/edit/{{ destination.destination_id }}">Muokkaa</a> |
      <a href="/remove/{{ destination.destination_id }}">Poista</a>
    </p>
    {% endif %}
    <hr />
    {% endfor %} {% if session.user_id %}
    <h2>Uusi matkakohde</h2>

    <form action="/new_destination" method="post">
      <p>
        Matkakohde: <br />
        <input type="text" name="name" />
      </p>
      <p>
        Kuvaus: <br />
        <textarea name="description" rows="5" cols="40"></textarea>
      </p>
      <input type="submit" value="Lähetä" />
    </form>
    {% endif %}
  </body>
</html>
