<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{destination.name}}</title>
  </head>
  <body>
    <h1>{{destination.name}}</h1>
    <p>{{destination.description}}</p>
    {% if destination.user_id == session.user_id %}
    <p>
      <a href="/edit/{{ destination.destination_id }}">Muokkaa</a> |
      <a href="/remove/{{ destination.destination_id }}">Poista</a>
    </p>
    {% endif %}
  </body>
</html>
