{% extends "layout.html" %} {% block title %}{{destination.name}}{% endblock %}
{% block content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<h1>{{ destination.name }}</h1>
<p>{{ destination.description | show_lines }}</p>

{% if categories %}
<p>Luokat:</p>
{% for category in categories %}
<li>{{category.title}}: {{category.value}}</li>
{% endfor %} {% endif %}

<p>
  Lähettäjä:
  <a href="/users/{{ destination.user_id }}"> {{ destination.username }} </a>
</p>
{% if destination.user_id == session.user_id %}
<p>
  <a href="/edit/{{ destination.destination_id }}">Muokkaa</a> |
  <a href="/remove_destination/{{ destination.destination_id }}">Poista</a>
</p>
{% endif %}

<h2>Lisää kommentti</h2>
<form action="/add_comment/{{ destination.destination_id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <label for="comment">Kommentti:</label><br />
  <textarea
    id="comment"
    name="comment"
    rows="5"
    cols="40"
    maxlength="75"
    required
    placeholder="Kirjoita kommentti..."
  ></textarea
  ><br />
  <input type="submit" value="Lähetä kommentti" />
</form>

<h2>Kommentit</h2>

{% if comments %}
<ul>
  {% for comment in comments %}
  <li>
    <strong>{{ comment.username }}:</strong> {{ comment.comment | show_lines }}
    {% if comment.user_id == session.user_id %} |
    <a href="/remove_comment/{{ comment.comment_id }}">Poista</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Ei kommentteja vielä.</p>
{% endif %} {% endblock %}
