{% extends "layout.html" %} {% block title %}Muokkaa{% endblock %}{% block
content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<form action="/edit/{{ destination.destination_id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    Viesti:<br />
    <textarea name="description" rows="5" cols="40">
{{ destination.description }}</textarea
    >
  </p>
  <input type="submit" value="Lähetä" />
</form>
{% endblock %}
