{% extends "layout.html" %} {% block title %}Etusivu{% endblock %} {% block
content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<h2>Etusivu</h2>

{% if session.user_id %}
<hr />
<div class="add-destination">
  <h2>Uusi matkakohde</h2>
  <form action="/new_destination" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      <label for="name">Matkakohde:</label><br />
      <input
        type="text"
        id="name"
        name="name"
        maxlength="75"
        required
        pattern=".*\S.*"
        title="Nimi ei saa olla tyhjä"
      />
    </p>
    <p>
      <label for="description">Kuvaus:</label><br />
      <textarea
        id="description"
        name="description"
        rows="5"
        maxlength="5000"
        cols="40"
        required
      ></textarea>
    </p>
    {% for category in categories %}
    <p>
      <label for="{{category}}">{{category}}:</label><br />
      <select id="{{category}}" name="categories">
        <option value="">(valitse)</option>
        {% for option in categories[category] %}
        <option value="{{category}}:{{option}}">{{option}}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Lähetä" />
  </form>
</div>

{% endif %}

<hr />

{% if destinations %} {% for destination in destinations %}
<div class="destination">
  <a href="/destinations/{{ destination.destination_id }}">
    {{ destination.name }}
  </a>
  <br />
  {{ destination.total }} kommenttia, uusin {{destination.last}}
  <br />
  <small>
    Lähettäjä:
    <a href="/users/{{ destination.user_id }}"> {{ destination.username }} </a>
  </small>
</div>
{% endfor %}
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% else %}
<p>Ei lisättyjä matkakohteita...</p>
{% endif %} {% endblock %}
