{% extends "layout.html" %} {% block title %}Etusivu{% endblock %} {% block
content %}

<h2>Etusivu</h2>

{% if session.user_id %}
<hr />
<div class="add-destination">
  <h2>Uusi matkakohde</h2>
  <form action="/new_destination" method="post">
    <p>
      Matkakohde: <br />
      <input type="text" name="name" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="5" cols="40"></textarea>
    </p>
    <p>
      Hintaluokka: <br />
      <select name="price_category_id">
        <option value="1">Edullinen</option>
        <option value="2">Kohtuullinen</option>
        <option value="3">Kallis</option>
      </select>
    </p>
    <p>
      Arvostelu (1-5): <br />
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
</div>

{% endif %}

<hr />

{% if destinations %} {% for destination in destinations %}
<div class="destination">
  <a href="/destinations/{{ destination.destination_id }}">
    {{ destination.name }}
  </a>
  <br />
  <small>
    Lähettäjä:
    <a href="/users/{{ destination.user_id }}"> {{ destination.username }} </a>
  </small>
</div>
{% endfor %} {% else %}
<p>Ei lisättyjä matkakohteita...</p>
{% endif %} {% endblock %}
