{% extends "layout.html" %} {% block title %}Kirjautuminen{% endblock %} {%
block content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<div>
  <h2>Kirjautuminen</h2>
  <form action="/login" method="POST">
    <p>
      <label for="username">Käyttäjänimi:</label><br />
      <input
        type="text"
        id="username"
        name="username"
        value="{{ filled.username }}"
        maxlength="50"
        required
        pattern=".*\S.*"
        title="Käyttäjänimi ei saa olla tyhjä"
      />
    </p>
    <p>
      <label for="password">Salasana:</label><br />
      <input type="password" id="password" name="password" maxlength="128" required title="Salasana ei saa olla tyhjä"/>
    </p>
    <button type="submit">Kirjaudu sisään</button>
  </form>
  <hr />
  <p>Eikö sinulla ole tiliä? <a href="/register">Luo tili</a>.</p>
</div>

{% endblock %}
