{% extends "layout.html" %} {% block title %}Kirjautuminen{% endblock %} {%
block content %}

<div>
  <h2>Kirjautuminen</h2>
  <form action="/login_form" method="POST">
    <p>
      Käyttäjänimi: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required />
    </p>
    <button type="submit">Kirjaudu sisään</button>
  </form>
  <hr />
  <p>Eikö sinulla ole tiliä? <a href="/register">Luo tili</a>.</p>
</div>

{% endblock %}
