{% extends "layout.html" %} {% block title %}Käyttäjän luonti{% endblock %} {%
block content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<div>
  <h2>Rekisteröidy</h2>
  <form action="/register" method="POST">
    <p>
      <label for="username">Käyttäjänimi:</label><br />
      <input
        type="text"
        id="username"
        name="username"
        value="{{ filled.username }}"
        maxlength="50"
        required
        pattern=".*\S.*"
        title="Käyttäjänimi ei saa olla tyhjä"
      />
    </p>
    <p>
      <label for="password1">Salasana:</label><br />
      <input
        type="password"
        id="password1"
        name="password1"
        maxlength="128"
        required
        pattern=".*\S.*"
        title="Salasana ei saa olla tyhjä"
      />
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label><br />
      <input
        type="password"
        id="password2"
        name="password2"
        maxlength="128"
        required
        pattern=".*\S.*"
        title="Salasana ei saa olla tyhjä"
      />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  <hr />
  <p>Onko sinulla jo tili? <a href="/login">Kirjaudu sisään</a>.</p>
</div>

{% endblock %}
