{% extends "layout.html" %} {% block title %}Poista kohde{% endblock %} {% block
content %} {% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form
  action="/remove_destination/{{ destination.destination_id }}"
  method="post"
>
  <p>Haluatko varmasti poistaa kohteen?</p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="continue" value="Jatka" />
  <input type="submit" name="cancel" value="Peruuta" />
</form>
{% endblock %}
